html {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 50px;
  min-height: 100%;
  position: relative;
  background-color: lemonchiffon;
}
.navbar {
  position: fixed;
  display: flex;
  height: 65px;
  width: 100%;
  top: 0;
  background: darkslateblue;
}
.container {
  display: block;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 200px;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}
.container .content {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  padding: 10px;
  align-content: center;
}

.content .intro {
  display: inline-block;
}
.content .pic {
  float: right;
}
.content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.content .pic img {
  width: 300px;
  height: 300px;
}

.content .contact-info {
  border-bottom: 1px solid cadetblue;
  align-content: center;
}

.title-block {
  margin-right: 30px;
  color: azure;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  word-break: keep-all;
}

.button-label {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  color: gray;
  text-align: center;
  margin-left: 5px;
  display: flex;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  color: azure;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: azure;
}

.nav-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 20px;
}
.nav-button .material-icons {
  color: gray;
}
.nav-button:hover .material-icons {
  color: azure;
}
.nav-button:hover .button-label {
  color: azure;
}
.nav-button.active .material-icons {
  color: azure;
}
.nav-button.active .button-label {
  color: azure;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: darkslateblue;
}
.footer .contact {
  display: inline-block;
  padding-left: 20%;
}
.footer .link {
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
}
.footer .footer-title {
  margin-top: 50px;
  margin-left: 120px;
  color: azure;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.footer .footer-content {
  margin-top: 20px;
  margin-left: 120px;
  color: azure;
  font-family: sans-serif;
  font-size: 18px;
  display: block;
}
.footer .follow-up {
  position: relative;
  color: azure;
  font-family: sans-serif;
  font-size: 24px;
}
.follow-up.icons {
  left: 0;
  margin-top: 10px;
}
.pv {
  margin-top: 20px;
  margin-left: 120px;
  padding-left: 20%;
  color: azure;
  font-family: sans-serif;
  font-size: 18px;
}
